* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-card {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.activeBtn {
  height: 35px;
  width: 80px;
  border-radius: 30px;
  margin: 10px;
  background-color: #db1c48;
  color: #ffffff;
  border: 1px solid #db1c48;
  font-weight: 600;
}
.unOrdered-list {
  margin-left: -40px;
  display: flex;
}
.list-item {
  list-style-type: none;
}
.inActiveBtn {
  height: 35px;
  width: 80px;
  border-radius: 30px;
  margin: 10px;
  border: 1px solid #db1c48;
  color: #db1c48;
  font-weight: 600;
  background-color: transparent;
}
.image-height {
  height: 300px;
  margin: 10px;
}
